/*----- Whole Page CSS -----*/

* {
    box-sizing: border-box;
}

body {
    /* background-image: url(https://i.imgur.com/PV8ojj9.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* opacity: .5; */
}


/*----- Header CSS -----*/

h1 {
    font-size: 3.8em;
    letter-spacing: 4px;
    margin-bottom: -20px;
    text-shadow: 0 0 3px black;
    font-family: 'Lato';
    font-weight: 400;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 65px;
    font-family: 'Lato';
    font-weight: 300;
    letter-spacing: 2px;
    padding: 10px 10px;
}

.transparent {
    background-color: rgba(83, 137, 238, 0.1);
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    color: #FF4500;
}


/*----- Main CSS -----*/

li {
    display: inline-block;
    padding: 10px;
    margin: 20px, 20px, 20px, 20px;
}

.movie-item-controls {
    display: inline;
    position: right;
    opacity: 1;
}

img {
    height: 300px;
    max-width: 200px;
    border-radius: 5px;
}

.movie-item,
.box-office,
.movie-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(219, 223, 236);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* opacity: .98; */
}

.movie-item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 450px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

.movie-list,
.box-office-list,
.movie-card-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
}

.poster-path {
    margin: auto;
}

.movie-card {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.box-office-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column padding;
    margin: auto;
    width: 90%;
}

.movie-title {
    font-weight: bold;
    word-wrap: break-word;
}

.movie-title-card {
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.bold-title {
    font-weight: bold;
}

.stream-list {
    padding: 0px;
}

.stream-list li:not(:first-child):before {
    content: '|';
    margin-right: 18px;
}

.view-movie {
    background-color: #87CEFA;
    border-radius: 5px;
    border: 1px solid black;
    width: 80px;
    height: 22px;
    margin-top: 10px;
}

.add-to-box-office,
.back-to-list,
.go-to-box-office-list,
.remove-movie,
.update-movie {
    background-color: #87CEFA;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
}

.remove-movie,
.update-movie {
    width: 80px;
}

#user-rating,
#user-comments {
    margin-top: 12px;
}